/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: Darkred;
  color: Crimson; 
}

h1 {
  font-family: 'Brush Script MT', cursive;
}

button{
  padding: 10px;
  border-radius 10px;
}

#gameButtonArea > button {
  background-image: url(
  'https://cdn.glitch.com/ec5c92e2-6924-48a0-8ebb-e03478fc4c4e%2Foriginal.jpg?v=1616632625639https://cdn.glitch.com/ec5c92e2-6924-48a0-8ebb-e03478fc4c4e%2Foriginal.jpg?v=1616632625639');
    background-size: 100%, 100%;
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
    background: lightgreen;
}
#button1:active, #button1.lit {
    background-image: url(
   'https://cdn.glitch.com/ec5c92e2-6924-48a0-8ebb-e03478fc4c4e%2Fghost.jpg?v=1616633723961');
    background-size: 100%, 100%;
}

#button2 {
    background: lightblue;
}
#button2:active, #button2.lit {
    background-image: url(
   'https://cdn.glitch.com/ec5c92e2-6924-48a0-8ebb-e03478fc4c4e%2Fmonster2.jpg?v=1616634893767');
    background-size: 100%, 100%;
}

#button3 {
    background: pink;
}
#button3:active, #button3.lit  {
    background-image: url(
   'https://cdn.glitch.com/ec5c92e2-6924-48a0-8ebb-e03478fc4c4e%2Fmonster1.jpg?v=1616634893793');
    background-size: 100%, 100%;
}

#button4 {
    background: lightyellow;
}
#button4:active, #button4.lit  {
    background-image: url(
   'https://cdn.glitch.com/ec5c92e2-6924-48a0-8ebb-e03478fc4c4e%2Fmonster5.jpg?v=1616634893997');
    background-size: 100%, 100%;
}

#button5 {
    background: darkorchid;
}
#button5:active, #button5.lit  {
    background-image: url(
   'https://cdn.glitch.com/ec5c92e2-6924-48a0-8ebb-e03478fc4c4e%2Fmonste4.jpg?v=1616634894054');
    background-size: 100%, 100%;
}

#button6 {
    background: lightsalmon;
}
#button6:active, #button6.lit  {
    background-image: url(
   'https://cdn.glitch.com/ec5c92e2-6924-48a0-8ebb-e03478fc4c4e%2Fmonster3.jpg?v=1616634894216');
    background-size: 100%, 100%;

